@import '../public/reset.css';
@import '../public/util/popup/popup.scss';

.main {
  color: #00f;
  font-size: 66px;
  font-style: italic;
  background-color: #ff0;
  width: 50%;
  border: 2px solid #000;
}